:root {
    --purple: #7957d5;
    --pink: #DC72FC;
    --blue: #455CE2;
    --banner-gradient: linear-gradient(to right, var(--pink), var(--purple) 75%, var(--blue));

    --jumbotron-height: calc(100vh - 5.5rem);
}

* {
    font-family: "Open Sans", sans-serif;
    scroll-behavior: smooth;
}

/* Flexbox utilities (cause idk the bulma ones) */
.d-flex { display: flex; }
.flex-1 { flex: 1; }
.flex-direction-column { flex-direction: column; }
.justify-content-center { justify-content: center; }
.align-items-center { align-items: center; }

/* Page change transition */
.page-enter-active,
.page-leave-active {
    transition: opacity .5s
}

.page-enter,
.page-leave-active {
    opacity: 0
}

/* Smol font on da phone */
@media only screen and (max-width: 815px) {
    html {
        font-size: 14px;
        --jumbotron-height: calc(100vh - 6rem);
    }
}

